* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
    padding-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  margin: auto;
  background-color: #F1FAEE;
}

header{
background-color: #457B9D;
padding: 2vh;
}

input {
  width: 50%;
  margin: 2vh auto;
  height: 5vh;
  font-size: 3vh;
  text-align: center;
  color: #3c1c1f;
background-color: #fff;
  border: 2.5px solid #E63946;
}

input:focus {
  outline: none;
  border: 2.5px solid #457B9D;
}

button {
  width: 300px;
  margin: 2vh auto;
  height: 7vh;
  font-size: 3vh;
    background-color: #A8DADC;
    color: #1D3557;
    border: 2.5px solid #1D3557;
}

button:hover {
  background-color: #457B9D;
  color: #F1FAEE;
  cursor: pointer;
}

h2 {
  color: #E63946;
  font-size: 10vh;
}

.bear {
  display: none;
  width: 200px;
  margin: auto;
}