[data-theme="hawaii"]{
    --bodybg:#A9C16B;
    --headerbg: #31A9C1;
    --footerbg: #E186A7;
    --h1color: #D4384E;
    --textcolor: #2B5374;
        --fontfam: "Original Surfer", sans-serif;
}

[data-theme="dark"]{
    --bodybg: #3A3A3A;
     --headerbg: #2E2E2E;
     --footerbg: #252525;
       --h1color: #D6D6D6;
       --textcolor: #FFFFFF;
           --fontfam: "Finger Paint", sans-serif;
}

[data-theme="light"]{
    --bodybg: #F3F3F3;
     --headerbg: #E6E6E6;
     --footerbg: #D7D7D7;
       --h1color: #202020;
       --textcolor: #000000;
       --fontfam: "Alfa Slab One", serif;
}
